/* Imports
========================================================================== */

@import './abstracts/mixins.scss';

/* Root Variables
========================================================================== */

:root {
  --font-heading: 'Amarante';
  --font-body: 'PT Serif';
  --font-mono: 'MagdaCleanMono';

  --border-radius: 6px;
  --title-size: 6px;

  --black: #000;
  --black-100: hsl(0, 0%, 0%);
  --black-200: hsl(220, 11%, 11%);
  --black-soft: hsl(200, 2%, 25%);
  --black-soft: hsl(0, 0%, 15%);
  --brown: hsl(41, 13%, 66%);
  --grey-100: hsl(0, 0%, 10%);
  --grey-200: hsl(0, 0%, 25%);
  --grey-300: hsl(0, 0%, 47%);
  --grey-400: hsl(0, 0%, 73%);
  --grey-500: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 99%);
  --white-true: hsl(0, 0%, 100%);

  --blue: hsl(221, 90%, 59%);
  --red: hsl(344, 82%, 50%);
  --pink: hsl(299, 100%, 90%);
  --purple: hsl(250, 56%, 81%);

  --primary: var(--red);
  --secondary: var(--red);
  --accent: var(--purple);
}

/* Global styles
========================================================================== */

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*::selection {
  background: var(--blue);
}

html,
body,
#__next {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  color: var(--white);
  background: var(--black-100);
  font-size: 1.6rem;
  font-family: var(--font-body);
  font-family: var(--font-mono);
  &::-webkit-scrollbar {
    width: 0.7rem;
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(254, 249, 247, 1);
    background: var(--black-soft);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, 1);
    background: var(--accent);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.inner-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  @include respond-to('desktop-15') {
    padding: 0 5%;
  }
  @include respond-to('tablet-large') {
    padding: 0 5%;
  }
  @include respond-to('mobile-large') {
    padding: 0 5%;
  }
}

/* Global typography styles
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-heading);
}

h1 {
  font-size: clamp(5.8rem, 17.1rem, 11vw);
  font-weight: 100;
  @include respond-to('awkward') {
    font-size: 4rem;
  }
}
h2 {
  font-size: 5.8rem;
  font-weight: 100;
}
h3 {
  font-size: 3.6rem;
  font-weight: 100;
}
h4 {
  // font-size: 17.1rem;
  font-weight: 100;
}
h5 {
  // font-size: 17.1rem;
  font-weight: 100;
}
h6 {
  // font-size: 17.1rem;
  font-weight: 100;
}

div.double-header {
  padding: 8rem 0;
  h1.title {
    color: #252525;
    margin-bottom: -10.5rem;
    text-align: center;
    @include respond-to('desktop-13') {
      margin-bottom: -8rem;
    }
    @include respond-to('tablet-large') {
      margin-bottom: -6rem;
    }
    @include respond-to('tablet') {
      font-size: 5.8rem;
      margin-bottom: 0rem;
    }
  }
  h1.subtitle {
    margin-bottom: 2rem;
    font-size: 17.3rem;
    font-size: clamp(5.8rem, 17.3rem, 11vw);
    color: var(--black);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--grey-300);
    text-align: center;
    @include respond-to('tablet') {
      display: none;
    }
  }
  @include respond-to('awkward') {
    font-size: 4rem;
  }
}

p,
input,
a,
textarea,
::placeholder {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.101rem;
  color: var(--white);
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
}
a.selected {
  color: var(--accent) !important;
  font-weight: 900;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}
