/* Writings styles
========================================================================== */

@import '../styles/abstracts/mixins.scss';

.writings {
  h2 {
    font-size: 5.8rem;
    line-height: 1.2;
    color: var(--grey-400);
  }
}

.posts {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  @include respond-to('tablet-large') {
    max-width: 520px;
  }
  time {
    color: var(--red);
    font-size: 1.4rem;
    padding-bottom: 2rem;
    @include respond-to('tablet-large') {
      font-size: 1.2rem;
    }
  }
  h2.postTitle {
    @include respond-to('tablet-large') {
      font-size: 2.3rem;
    }
  }
  p.postDescription {
    color: var(--grey-300);
    font-size: 1.9rem;
    line-height: 2.9rem;
    margin-top: 2rem;
    @include respond-to('tablet-large') {
      font-size: 1.4rem;
      line-height: 2.4rem;
      margin-top: 0.5rem;
    }
    @include respond-to('tablet') {
      font-size: 1.4rem;
      line-height: 2.4rem;
      margin-top: 0.5rem;
    }
  }
}
.post {
  margin-bottom: 10rem;
  @include respond-to('tablet-large') {
    margin-bottom: 4rem;
  }
  @include respond-to('tablet') {
    text-align: center;
  }
}
.post:hover h2,
.post:focus h2 {
  color: var(--white);
}
.post:hover p,
.post:focus p {
  color: var(--grey-400);
}
