/* Imports
========================================================================== */

@import '../styles/abstracts/mixins.scss';

/* Header styles
========================================================================== */

.header {
  // margin: 0 auto;
  background: var(--black-200);
}

.nav {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  position: relative;
  button {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: var(--grey-400);
    padding: 0.7rem 1.2rem;
    background: var(--black-soft);
    border-radius: var(--border-radius);
    border: none;
    font-weight: bold;
    &:hover {
      color: var(--grey-400);
    }
  }
  ul {
    display: flex;
    @include respond-to('mobile-large') {
      text-align: center;
      flex-direction: column;
    }
  }
  li:not(:last-child) {
    margin-right: 3rem;
    @include respond-to('mobile-large') {
      margin-right: 0;
    }
  }
  a.navLink {
    color: var(--grey-300);
    font-family: var(--font-mono);
    font-size: 1.6rem;
    &:hover,
    &:focus {
      color: var(--grey-400);
    }
  }
}

.logo {
  text-align: center;
  margin-bottom: -1rem;
}
