/* Discography styles
========================================================================== */

@import '../styles/abstracts/mixins.scss';

.discography {
  border-bottom: 4px solid var(--black);
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  border-bottom: 4px solid var(--black);

  .title {
    color: #252525;
    text-align: center;
    padding: 7.5rem 0;
    text-transform: uppercase;
    @include respond-to('tablet-large') {
      padding: 6rem 0 6rem 0;
    }
  }

  .artworkLink {
    margin-bottom: 3.5rem;
  }
  .artwork {
    position: relative;
    img {
      border: 1px solid #fff !important;
      border-radius: var(--border-radius);
      @include respond-to('mobile-large') {
        border: none !important;
        border-radius: 0;
      }
    }
    .stripesLeft::before {
      content: '';
      position: absolute;
      background: var(--black);
      border: 1px solid var(--grey);
      border-radius: 4px;
      width: 1000px;
      height: 26px;
      top: calc(50% + 2.3rem);
      right: 548px;
      transform: translateY(-50%);
    }
    .stripesLeft::after {
      content: '';
      position: absolute;
      background: var(--black);
      border: 1px solid var(--grey);
      border-radius: 4px;
      width: 1000px;
      height: 26px;
      top: calc(50% - 2.3rem);
      right: 548px;
      transform: translateY(-50%);
    }
    .stripesRight::before {
      content: '';
      position: absolute;
      background: var(--black);
      border: 1px solid var(--grey);
      border-radius: 4px;
      width: 1000px;
      height: 26px;
      top: calc(50% + 2.3rem);
      left: 548px;
      transform: translateY(-50%);
    }
    .stripesRight::after {
      content: '';
      position: absolute;
      background: var(--black);
      border: 1px solid var(--grey);
      border-radius: 4px;
      width: 1000px;
      height: 26px;
      top: calc(50% - 2.3rem);
      left: 548px;
      transform: translateY(-50%);
    }
  }

  .description {
    max-width: 464px;
    text-align: center;
    margin: 0 auto;
    @include respond-to('awkward') {
      padding: 0 5%;
    }
    p {
      margin-bottom: 4rem;
      color: var(--grey-light);
    }
  }

  .buttonWrapper {
    margin-bottom: 5.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    a:first-of-type {
      margin-bottom: 4rem;
      align-self: center;
    }
    a:last-of-type {
      background: #1b9cbd;
      background: var(--accent);
    }
  }
}
